.DS_Store
.idea/
vendor/
temp/
!/temp/.gitkeep
composer.lock
app/configs/db.ini
app/configs/jwt.ini
mailer.ini
logs/*.log
!/logs/.gitkeep
composer.phar
/logs
logs/mail
!logs/mail/.gitkeep
/zaloha/
!/zaloha/db/.gitkeep

/app/configs/opauth.ini
/app/configs/verze.ini

/public/uploads
public/debug.log
.timetracker
